
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Siddhant Singh">
		
        <title>Gymkhana Information Portal | IIT (BHU) Varanasi</title>

        <!-- Bootstrap minified CSS -->
        <link href="/static/home/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>        
        <!-- News Ticker CSS -->
        <link href="/static/home/assets/css/news-ticker.css" rel="stylesheet" type="text/css"/>
        <!--Custom stylesheet-->
        <link href="/static/home/assets/css/custom.css" rel="stylesheet" type="text/css"/>  

        <style type="text/css">


        </style>

    </head>

    <body>
        <div class="top-line"></div>

                <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <img src="/static/home/img/header.png" alt="" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>        <div class="navbar alt" id="nav1">
    <div class='container alt-in'>
        <div class='navbar-header'>
            <a href='/' class='navbar-brand'>
                <img src="/static/home/img/home.png" alt="home-icon" width="38px" height="auto"/>
            </a>
            <a class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </a>
        </div>
        <div class='navbar-collapse collapse' id='navbar'>
            <ul class='nav navbar-nav '>
                <li class='dropdown'>
                    <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                        Councils<span class='caret'></span>
                    </a>
                    <ul class='dropdown-menu'>
                        <li><a href='/Gnsc/'>Games & Sports Council</a></li>                        
                        <li><a href='/Cultural/'>Cultural Council</a></li>
                        <li><a href='/Fmc/'>Film & Media Council</a></li>              
                        <li><a href='/Sntc/'>Science and Tech Council</a></li>
                    </ul> 
                </li>

                <li class='dropdown'>
                    <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                        Activities<span class='caret'></span>
                    </a>
                    <ul class='dropdown-menu'>                        
                        <li><a href='http://www.kashiyatra.org' target="_blank">Kashiyatra</a></li>
                        <li><a href='http://www.spardha.co.in' target="_blank">Spardha</a></li>
                        <li><a href='http://www.technex.in' target="_blank">Technex</a></li>
                        <li><a href='http://www.tedxiitbhu.com' target="_blank">TEDxIITBHU</a></li>
                        <li><a href='#'>#Inter IIT Students Meet</a></li>
                        <li><a href='#'>#Inter IIT Staff Meet</a></li>      
                    </ul> 
                </li>
                <li><a target='_blank' href='/parliament/'>Student Parliament</a></li>
                <li><a href='/Gallery/'>Gallery</a></li>
                <li><a href='/Contact_us/'>Any Questions</a></li>
            </ul>
        </div>
    </div>
</div>
        <div class="wrapper bg2">
            <div class="container bg">
			
			
                <div class="col-md-12 col-lg-12 margin-bottom-20 text-center font-arya">
				
				<iframe src="https://docs.google.com/forms/d/1Mcpp7i8S1fawFk_vo-qYH_jxbunMPlgSCxlvy-7H2WE/viewform?embedded=true" width="760" height="1130" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>


				</div>
				
				
				
				
				
				
				
				
				
            </div>
        </div>


        <footer>
    <div class="container alt-in">
        <div id="call-footer-links"></div>

        <div class="col-md-6 footer-left-pane">
            <p class="copyright"> 
                <a href="http://iitbhu.ac.in/various/copyright.shtml">
                    <i class="glyphicon glyphicon-copyright-mark"></i> 2017 All Rights Reserved IIT (BHU) Varanasi</a>&nbsp;| 
                <a href="http://iitbhu.ac.in/various/disclaimer.shtml">Disclaimer</a>
            </p>
            <p class="credit">
                <a href="http://iitbhu.ac.in/wmes_web/index.html">
                    Developed and Maintained by WMES, IIT BHU
                </a> || <a href="/credits/">Credits</a>
            </p>
        </div>
		
		<div class="col-md-6 col-lg-6 footer-right-pane">
		   <img src="/static/home/img/footer-img.png">		
		</div>		
        
<!--        <div class="col-md-6 text-right">
            <img class="img-responsive" src="/static/home/img/footer-img.png" alt="iitbhu-gate">
        </div>-->

    </div>
</footer>


        <!-- JQuery JavaScript -->
        <script src="/static/home/assets/js/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="/static/home/assets/js/bootstrap.min.js" type="text/javascript"></script>
        <!-- Custom JavaScript -->
        <script src="/static/home/assets/js/custom.js" type="text/javascript"></script>

        <script src="/static/home/assets/js/jquery.newsTicker.min.js" type="text/javascript"></script>
        <script>
            var nt_example1 = $('#parliament-ticker').newsTicker({
                row_height: 70,
                max_rows: 4,
                duration: 3000000,
                prevButton: $('#news-ticker-prev'),
                nextButton: $('#news-ticker-next'),
            });
        </script>


    </body>

</html>
