<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Club of Programmers, IIT (BHU) Varanasi">

    <title>Club of Programmers - IIT (BHU) Varanasi</title>
    <link rel="icon" type="image/ico" href="/static/sntc/img/favicon.ico">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/static/sntc/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/static/sntc/css/animate.min.css" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/sntc/clubs/cops/custom.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body id="page-top">

        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="/">Club of Programmers
                    </br><span class="iit-heading normal-font">SnTC - IIT BHU</span>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#about">About</a></li>
                        <li><a class="page-scroll" href="#vision">Vision</a></li>
                        <li><a class="page-scroll" href="#workshops">Workshops</a></li>
                        <li><a class="page-scroll" href="#highlights">Highlights</a></li>
                        <li class="dropdown" id="clubs">
                        <a data-toggle="dropdown" data-target="#clubs" style="cursor:pointer;">Clubs</a>
                        <ul class="dropdown-menu">
                          <li><a href="/clubs/aero_modelling">Aero-Modelling Club</a></li>
                          <li><a href="/clubs/astronomy">Astronomy Club</a></li>
                          <li><a href="/clubs/cef">Club of Economics and Finance</a></li>
                          <li><a href="/clubs/cops">Club of Programmers</a></li>
                          <li><a href="/clubs/green">Green Club</a></li>
                          <li><a href="/clubs/robotics">Robotics Club</a></li>
                          <li><a href="/clubs/sae">Society of Automotive Engineers</a></li>
                          <li><a href="/clubs/troc">Technical and Rural Outreach Club</a></li>
                        </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <header>
            <div class="header-content">
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </header>

        <section class="bg-primary" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                      <h2 class="section-heading">About | Club of Programmers
                      <hr class="light">
                      </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9 col-lg-push-1 text-center">
                      <p class="text-faded">Club of Programmers is the club under Science and Technology Council which is responsible for the programming activities and the propogation of knowledge in the fields of Computer Science like Competitive Programming, Machine Learning, Information Security etc. The club has functional units for different fields of CS, named groups. The following groups work together for the betterment of the culture:-</p>
                      <p class="text-faded"><span class="col-lg-6 col-xs-12">1.Competitive Programming Group</span><span class="col-lg-6 col-xs-12">2.Development Group</span><span class="col-lg-6 col-xs-12">3.InfoSec Group</span><span class="col-lg-6 col-xs-12">4.ML Group</span><span class="col-lg-12 col-xs-12" style="margin-bottom:20px;">5.Group for Computational Finance</span></p>
                      <p class="text-faded">All these groups hold workshops and spread information and awareness regarding their fields. These groups undertake projects internally and also co-ordinate with other groups for pursuing large scale projects which prove beneficial for the institute.</p>
                    </div>
                    <div class="col-lg-1 col-lg-push-1 text-center">
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <div class="text-center" id="social-media">
                        <a href="http://www.facebook.com/cops.iitbhu" class="fa fa-facebook"></a>
                        <a href="/app" class="fa fa-android"></a>
                      </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="vision">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section-heading ribbon"><span>Vision</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 text-center">
                      <p> To develop the coding culture around the institute by organising large scale workshops on topics like Competitive Programming, App Development, etc.</p>
                      <p> To increase participation across all branches and especially among girls.</p>
                      <p> To increase awareness about advanced topics in Computer Science like Quantum Computing, Cloud Computing, Deep Learning, etc.</p>
                      <p> To conduct more onsite events like hackathons, ICPC-style contests and seminars for research.</p>
          			      <p> To induce awareness about research in Computer Science and motivate students to pursue research.</p>
          			      <p> To pursue large scale projects and create products which will help in the development of student body and the institute.</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="workshops">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section-heading ribbon"><span>Workshops</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                      <p>
                        <li class="lead">The eigth workshop was held on 12<small>th</small> January, 2017 on <a href="https://drive.google.com/file/d/0BzOtgSjOstIubE9LM2hINklXOU0/view?usp=sharing">Introduction to Machine Learning</a> and <a href="https://drive.google.com/file/d/0BzOtgSjOstIudjE4NjgxMHJ6MEk/view?usp=sharing">Linear Regression</a>.</li>
                        <li class="lead">The ninth workshop was held on 25<small>th</small> January, 2017 on <a href="https://drive.google.com/file/d/0BzOtgSjOstIuNnRLdFRyQVlQeGM/view?usp=sharing">Logistic Regression</a>, <a href="https://drive.google.com/file/d/0BzOtgSjOstIuS3c1VTZpd0xBWkk/view?usp=sharing">Clustering</a> and <a href="https://drive.google.com/file/d/0BzOtgSjOstIuTlloaWc2aU1kMFk/view?usp=sharing">Object Detection</a>.</li>
                        <li class="lead">The tenth workshop was held on 26<small>th</small> January, 2017 on <a href="https://drive.google.com/file/d/0B86SdpnCL6lMUWRiak9Wa0FNLUE/view?usp=sharing">Capture the Flag</a>.</li>
                      </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="no-padding" id="highlights">

            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading ribbon long-ribbon"><span>Highlights</span></h2>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row no-gutter">
                    <div class="col-lg-4 col-sm-6">
                        <a href="#highlights" class="portfolio-box wow fadeIn" data-wow-delay="0s">
                            <img src="/static/sntc/clubs/cops/img/header2.jpg" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Project
                                    </div>
                                    <div class="project-name">
                                        Development of an online judge
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a href="#highlights" class="portfolio-box wow fadeIn" data-wow-delay="0s">
                          <img src="/static/sntc/clubs/cops/img/header4.jpg" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Project
                                    </div>
                                    <div class="project-name">
                                        Intelligent Chatbot
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a href="#highlights" class="portfolio-box wow fadeIn" data-wow-delay="0s">
                            <img src="/static/sntc/clubs/cops/img/header6.jpg" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Activity
                                    </div>
                                    <div class="project-name">
                                        ACM-ICPC Onsite
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

    <section id="contact" class="bg-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="section-heading ribbon long-ribbon"><span>Office Bearers</span></h2>
                </div>
                <div class="office-bearer col-md-4  text-center wow fadeInLeft" data-wow-delay="0s">
                  <img class="img-circle" src="/static/sntc/img/pors/Karthik.png" height="auto">
                    <h4 class="office-bearer-name">Karthik Kumar</h4>
                    <h4>(Secretary)</h4>
                    <h4><i class="fa fa-phone"></i>+91-7007628537</h4>
                    <h4><i class="fa fa-envelope-o"></i>
                        <a href="mailto:karthik.kumar.cse15@iitbhu.ac.in">karthik.kumar.cse15@iitbhu.ac.in</a>
                    </h4>
                </div>
                <div class="office-bearer col-md-4  text-center wow fadeInLeft" data-wow-delay=".1s">
                  <img class="img-circle" src="/static/sntc/img/pors/Pranjal.png" height="auto">
                    <h4 class="office-bearer-name">Pranjal Jain</h4>
                    <h4>(Joint Secretary)</h4>
                    <h4><i class="fa fa-phone"></i>+91-7597836962</h4>
                    <h4><i class="fa fa-envelope-o"></i>
                        <a href="mailto:pranjal.jain.cse15@iitbhu.ac.in">pranjal.jain.cse15@iitbhu.ac.in</a>
                    </h4>
                </div>
                <div class="office-bearer col-md-4  text-center wow fadeInLeft" data-wow-delay=".2s">
                  <img class="img-circle" src="/static/sntc/img/pors/Deeksha.png" height="auto">
                    <h4 class="office-bearer-name">Deeksha Kaurav</h4>
                    <h4>(Joint Secretary)</h4>
                    <h4><i class="fa fa-phone"></i>+91-9424667962</h4>
                    <h4><i class="fa fa-envelope-o"></i>
                        <a href="mailto:deeksha.kaurav.mat15@iitbhu.ac.in">deeksha.kaurav.mat15@iitbhu.ac.in</a>
                    </h4>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container ">
            <div class="row">
                <!--div class="col-sm-8 footer-left-pane">
                    <p class="copyright">
                        <a href="http://iitbhu.ac.in/various/copyright.shtml">
                            <i class="fa fa-copyright"></i> Copyright</a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="http://iitbhu.ac.in/various/disclaimer.shtml">Disclaimer</a>
                    </p>
                    <p class="credit">
                        <a href="http://iitbhu.ac.in/wmes_web/index.html">
                            Developed and Maintained by WMES, IIT BHU
                        </a> |<a href="/credits/"> Credits</a>
                    </p>
                </div-->
                <div class="col-sm-4 iit-gate-position">
                    <img class="iit-gate" src="/static/sntc/img/footer-img.png" alt="iitbhu-gate">
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/static/sntc/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/sntc/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="/static/sntc/js/jquery.easing.min.js"></script>
    <script src="/static/sntc/js/jquery.fittext.js"></script>
    <script src="/static/sntc/js/wow.min.js"></script>
    <script src="/static/sntc/js/morphext.min.js"></script>
    <script src="/static/sntc/js/jquery.bgswitcher.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/static/sntc/clubs/cops/custom.js"></script>

  </body>

</html>
