<!DOCTYPE html>
<html lang="en">
    <head>
       <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Film & media Council">
        <meta name="author" content="Siddhant Singh">

        <title>Film & Media Council - IIT (BHU) Varanasi</title>

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="/static/fmc/css/bootstrap.min.css" type="text/css">

        <!-- Custom Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> 
        <!-- Plugin CSS -->
        <link rel="stylesheet" href="/static/fmc/css/animate.min.css" type="text/css">	
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/static/fmc/css/custom.css" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->


    </head>

    <body id="page-top">

        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="#page-top">Film & Media Council
                        </br><span class="iit-heading normal-font">Gymkhana - IIT BHU</span>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="page-scroll" href="#clubs">clubs</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#contact">Office Bearers</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <header>
            <div class="header-content"></div>
            <div class="caption">
            </div>
        </header>

        <section id="clubs">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section-heading ribbon"><span>clubs</span></h2>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-6 text-center">
                        <div class="service-box hvr-float-shadow">
                            <a href="/Fmc/clubs/animation" target="_blank" class="wow bounceIn" data-wow-delay="0s">
							<img class="club wow bounceIn" data-wow-delay="0s" src="/static/cultural/img/clubs/fac.jpg">
                                <h4>The Animation Club</h4></a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 text-center">
                        <div class="service-box hvr-float-shadow">
                            <a href="/Fmc/clubs/cine" target="_blank" class="wow bounceIn" data-wow-delay="0.1s">
							<img class="club wow bounceIn" data-wow-delay=".1s" src="/static/cultural/img/clubs/imc.jpg">
                                <h4>The Cine Club</h4></a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 text-center">
                        <div class="service-box hvr-float-shadow">
                            <a href="/Fmc/clubs/design" target="_blank" class="wow bounceIn" data-wow-delay="0.2s">
							<img class="club wow bounceIn" data-wow-delay=".2s" src="/static/cultural/img/clubs/quiz.jpg">
                                <h4>The Design Club</h4></a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 text-center">
                        <div class="service-box hvr-float-shadow">
                            <a href="/Fmc/clubs/media" target="_blank" class="wow bounceIn" data-wow-delay="0.3s">
							<img class="club wow bounceIn" data-wow-delay=".3s" src="/static/cultural/img/clubs/lit.jpg">
                              <h4>The Media Club</h4></a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 text-center">
                        <div class="service-box hvr-float-shadow">
                            <a href="/Fmc/clubs/outreach" target="_blank" class="wow bounceIn" data-wow-delay="0.4s">
							<img class="club wow bounceIn" data-wow-delay="0.4s" src="/static/cultural/img/clubs/masq.jpg">
                                <h4>The Outreach Club</h4></a>
                            <!--                         <p class="text-muted">You have to make your websites with love these days!</p> -->
                        </div>
                    </div>				
				  <div class="col-md-2 col-sm-6 text-center">
                        <div class="service-box hvr-float-shadow">
                            <a href="/Fmc/clubs/photography" target="_blank" class="wow bounceIn" data-wow-delay="0.5s">
							<img class="club wow bounceIn" data-wow-delay="0s" src="/static/cultural/img/clubs/fac.jpg">
                                <h4>The Photography Club</h4></a>
                            <!--                         <p class="text-muted">You have to make your websites with love these days!</p> -->
                        </div>
                    </div>			
					
                </div>
            </div>
        </section>

             <section class="bg-primary" id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 text-center">
                            <h2 class="section-heading">About | Film & Media Council </h2>
                            <hr class="light">
                            <p class="text-faded">Film and Media Council or as it is popularly known, ìFMCî, is the student film and media body of IIT(BHU), Varanasi. 
A council which had humble beginnings, today is a large family of creative people or as is said, a ìdelusionî of creatives,
 thriving towards bringing imagination into the everyday lives of people. FMC is an amazing amalgamation of 6 clubs
 each of which providing students an opportunity to learn, think and create. The various clubs which form a part of the 
				    large family are:</p>
<p class="text-faded">1)	Photography Club: They form the eyes of the college, providing people with the best clicks of all the events that 
happen in the campus including the 4 major horizons of studentsí participation i.e. the 4 fests. îEvery pixel tells a storyî is 
what they believe as they conduct regular theme-based photowalks and workshops on photography and photoediting all
 throughout the year. The major attraction of the club is its annual photography exhibition-ìVISTAî which attracts participants 
	from all across the country with some of the finest details being captured to perfection.</p>
<p class="text-faded">2)	Design Club : ìCreativity comes from unlikely juxtapositionsî. With this motivation, the Design Club works towards 
giving students the ability to make awesome designs out of simple things. The club plays a major role in designing posters, 
flexes, t-shirts, stickers, badges, booklets and brochures among others during the fests in the college. ìUntitled Dot Designsî 
is an independent venture of the club(in the form of a Facebook page) to showcase the creativity to the world. Besides, the 
	club also designs the various t-shirts of different clubs as well as events.</p>
<p class="text-faded">3)	Cine Club: ìFilmmaking has the power to fortify the feeble, unify the divided, raise the abandoned and inspire the
 ignorant.î With this famous quote, the Cine Club works not only towards teaching students the art of film making but also 
makes them keen critics of cinema. Whether it be an event or any social cause, you can find them taking active part in it. 
ìFMC TVî is one of the most successful campaigns of the club with weekly episodes launched which give an insight into 
the activites and events of the college. Besides, the club is the force behind the various fest teasers, as well as all the major 
	videos which form a part of different fests of the college.</p>
<p class="text-faded">4)	Media Club: ìHe who is well informed has the power to change the worldî. The Media Club forms the eyes and 
ears of the college and keeps the students informed on the daily happenings. The college monthly magazine, ìThe Questî 
published by the Media Club provides students insights into the trending and useful topics and also raises serious issues of 
the college in the form of regular surveys. Besides, the club interacts with eminent personalities which attend the various 
fests of the college to get to know their views on the burning issues. Regular updates and information on the Facebook page 
	also keep the students aware of the college news.</p>
<p class="text-faded">5)	Animation Club: The club forms a centre for people with a passion for digital art and a zeal to give life to anything 
and everything around them. 3D and 2D modelling form the core methodology used to merge creativity with modern software. 
Creating something new and seeing things differently is what the club thrives on to unleash the inner Picasso among the 
students. The club forms majority of the videos and teasers of different fests and also organizes events throughout the year.</p>
<p class="text-faded">6)	Outreach Club: ìThings become creations when they reach out to the peopleî. The outreach Club is responsible 
for reaching out to the people, taking their opinions on different matters related to the college as well as trending topics, 
making documentaries on the various events happening in the college, and most importantly keeping people engaged. The 
club also provides the students a platform for voicing their opinions and needs and forms the link between the authorities 
	and students.
<br>FMC organizes one of the largest digital arts festivals across all the colleges in India, the FMC Weekend. With events covering 
all the aspects of film and media, FMC Weekend provides young ethusiasts the platform to showcase their talent and also the 
opportunity to learn from the most experienced in the business. The events organized include those of Photography which test 
the skills of participants behind the lens; Cinematography events, which bring out the directors, writers, actors among the
 participants; Design events to test the able to design awesome motion graphics; Media events which bring out the journalists, 
content writers among those participating; Animation events to test the ability to think out of the box and Outreach events to 
bring out the young outreachers. 
</p>
          <a href="#" class="btn btn-default btn-xl">Get Started!</a>
                        </div>
                    </div>
                </div>
            </section> 




        <section id="contact" class="bg-contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h2 class="section-heading ribbon long-ribbon"><span>Office Bearers</span></h2>
                    </div>
                    <div class="office-bearer col-md-4  text-center wow fadeInLeft" data-wow-delay="0s">
                        <h4 class="office-bearer-name"> Mohammed Zeeshan</h4>
                        <h4>(General Secretary)</h4>
                        <h4><i class="fa fa-envelope-o"></i> 
                            <a href="mailto:fac.iitbhu@iitbhu.ac.in"> @iitbhu.ac.in</a>
                        </h4>
                    </div>
                    <div class="office-bearer col-md-4  text-center wow fadeInLeft" data-wow-delay=".1s">
                        <h4 class="office-bearer-name"> Aanshi Mehta </h4>
                        <h4>(Jt. General Secretary)</h4>
                        <h4><i class="fa fa-envelope-o"></i> 
                            <a href="mailto:fac.iitbhu@iitbhu.ac.in"> @iitbhu.ac.in</a>
                        </h4>
                    </div>
                    <div class="office-bearer col-md-4  text-center wow fadeInLeft" data-wow-delay=".2s">
                        <h4 class="office-bearer-name"> Shubham Shekhar Jha </h4>
                        <h4>(Jt. General Secretary)</h4>
                        <h4><i class="fa fa-envelope-o"></i> 
                            <a href="mailto:fac.iitbhu@iitbhu.ac.in"> @iitbhu.ac.in</a>
                        </h4>
                    </div>				
                </div>
            </div>
        </section>

        <footer>
            <div class="container ">
                <div class="row">

                    <div class="col-sm-8 footer-left-pane">
                        <p class="copyright"> 
                            <a href="http://iitbhu.ac.in/various/copyright.shtml">
                                <i class="fa fa-copyright"></i> Copyright</a>&nbsp;&nbsp;&nbsp;&nbsp; 
                            <a href="http://iitbhu.ac.in/various/disclaimer.shtml">Disclaimer</a>
                        </p>
                        <p class="credit">
                            <a href="http://iitbhu.ac.in/wmes_web/index.html">
                                Developed and Maintained by WMES, IIT BHU
                            </a> |<a href="/credits/"> Credits</a>
                        </p>
                    </div>

                    <div class="col-sm-4 iit-gate-position">
                        <img class="iit-gate" src="/static/fmc/img/footer-img.png" alt="iitbhu-gate">
                    </div>
                </div>
            </div>
        </footer>

        <!-- jQuery -->
        <script src="/static/fmc/js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="/static/fmc/js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="/static/fmc/js/jquery.easing.min.js"></script>
        <script src="/static/fmc/js/jquery.fittext.js"></script>
        <script src="/static/fmc/js/wow.min.js"></script>
        <script src="/static/fmc/js/morphext.min.js"></script>	
        <script src="/static/fmc/js/jquery.bgswitcher.js"></script>	

        <!-- Custom Theme JavaScript -->
        <script src="/static/fmc/js/custom.js"></script>

    </body>

</html>
