
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Siddhant Singh">
		
        <title>Gallery | Gymkhana - IIT (BHU) Varanasi</title>

        <!-- Bootstrap minified CSS -->
        <link href="/static/home/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>        
        <!--staple CSS-->
        <link href="/static/home/assets/css/stapel.css" rel="stylesheet" type="text/css"/>
        <link href="/static/home/assets/css/staple-design.css" rel="stylesheet" type="text/css"/>
        <!--featherlight plugin-->
        <link href="/static/home/assets/css/featherlight.css" rel="stylesheet" type="text/css"/>
        <link href="/static/home/assets/css/featherlight.gallery.css" rel="stylesheet" type="text/css"/>
        <!--Custom stylesheet-->
        <link href="/static/home/assets/css/custom.css" rel="stylesheet" type="text/css"/>
        <!--Mordernizr Javascript for staple-->
        <script src="/static/home/assets/js/modernizr.custom.63321.js" type="text/javascript"></script>

        <style type="text/css">

        </style>

    </head>

    <body>
        <div class="top-line"></div>

                <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <img src="/static/home/img/header.png" alt="" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>        <div class="navbar alt" id="nav1">
    <div class='container alt-in'>
        <div class='navbar-header'>
            <a href='/' class='navbar-brand'>
                <img src="/static/home/img/home.png" alt="home-icon" width="38px" height="auto"/>
            </a>
            <a class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </a>
        </div>
        <div class='navbar-collapse collapse' id='navbar'>
            <ul class='nav navbar-nav '>
                <li class='dropdown'>
                    <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                        Councils<span class='caret'></span>
                    </a>
                    <ul class='dropdown-menu'>
                        <li><a href='/gnsc/'>Games & Sports Council</a></li>                        
                        <li><a href='/cultural/'>Cultural Council</a></li>
                        <li><a href='/fmc/'>Film & Media Council</a></li>              
                        <li><a href='/sntc/'>Science and Tech Council</a></li>
                    </ul> 
                </li>

                <li class='dropdown'>
                    <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                        Activities<span class='caret'></span>
                    </a>
                    <ul class='dropdown-menu'>                        
                        <li><a href='http://www.kashiyatra.org' target="_blank">Kashiyatra</a></li>
                        <li><a href='http://www.spardha.co.in' target="_blank">Spardha</a></li>
                        <li><a href='http://www.technex.in' target="_blank">Technex</a></li>
                        <li><a href='http://www.tedxiitbhu.com' target="_blank">TEDxIITBHU</a></li>
                        <li><a href='#'>#Inter IIT Students Meet</a></li>
                        <li><a href='#'>#Inter IIT Staff Meet</a></li>      
                    </ul> 
                </li>
                <li><a target='_blank' href='/parliament/'>Student Parliament</a></li>
                <li><a href='/Gallery/'>Gallery</a></li>
                <li><a href='/Contact_us/'>Any Questions</a></li>
            </ul>
        </div>
    </div>
</div>
        <div class="wrapper bg2">
            <div class="gallery-wrapper padding-bottom-50">

                <div class="topbar">
                    <span id="close" class="back"><i class="glyphicon glyphicon-arrow-left"></i></span>
                    <h3 id="name"></h3>
                </div>

                <ul id="tp-grid" class="tp-grid"   data-featherlight-gallery
                    data-featherlight-filter="a">
	                       <!-- 'only-gallery-images/interiit' Area Start-->  <!-- '/static/home/only-gallery-images/kashiyatra' Area Start-->
	                       <li data-pile='kashiyatra'>
	                       <a class='image.only-gallery-images/kashiyatra' href='only-gallery-images/kashiyatra/full/11.jpg'>
	                       <img src='/static/home/only-gallery-images/kashiyatra/11.jpg'/>
	                       </a>
	                       </li>
	                     
	                       <li data-pile='kashiyatra'>
	                       <a class='image.only-gallery-images/kashiyatra' href='/static/home/only-gallery-images/kashiyatra/full/13.jpg'>
	                       <img src='/static/home/only-gallery-images/kashiyatra/13.jpg'/>
	                       </a>
	                       </li>
	                     
	                       <li data-pile='kashiyatra'>
	                       <a class='image.only-gallery-images/kashiyatra' href='/static/home/only-gallery-images/kashiyatra/full/18.jpg'>
	                       <img src='/static/home/only-gallery-images/kashiyatra/18.jpg'/>
	                       </a>
	                       </li>
	                     
	                       <li data-pile='kashiyatra'>
	                       <a class='image.only-gallery-images/kashiyatra' href='/static/home/only-gallery-images/kashiyatra/full/22.jpg'>
	                       <img src='/static/home/only-gallery-images/kashiyatra/22.jpg'/>
	                       </a>
	                       </li>
	                     
	                       <li data-pile='kashiyatra'>
	                       <a class='image.only-gallery-images/kashiyatra' href='/static/home/only-gallery-images/kashiyatra/full/3.jpg'>
	                       <img src='/static/home/only-gallery-images/kashiyatra/3.jpg'/>
	                       </a>
	                       </li>
	                     
	                       <li data-pile='kashiyatra'>
	                       <a class='image.only-gallery-images/kashiyatra' href='/static/home/only-gallery-images/kashiyatra/full/4.jpg'>
	                       <img src='/static/home/only-gallery-images/kashiyatra/4.jpg'/>
	                       </a>
	                       </li>
	                     
	                       <li data-pile='kashiyatra'>
	                       <a class='image.only-gallery-images/kashiyatra' href='/static/home/only-gallery-images/kashiyatra/full/5.jpg'>
	                       <img src='/static/home/only-gallery-images/kashiyatra/5.jpg'/>
	                       </a>
	                       </li>
	                     
	                       <li data-pile='kashiyatra'>
	                       <a class='image.only-gallery-images/kashiyatra' href='/static/home/only-gallery-images/kashiyatra/full/6.jpg'>
	                       <img src='/static/home/only-gallery-images/kashiyatra/6.jpg'/>
	                       </a>
	                       </li>
	                     
	                       <li data-pile='kashiyatra'>
	                       <a class='image.only-gallery-images/kashiyatra' href='/static/home/only-gallery-images/kashiyatra/full/8.jpg'>
	                       <img src='/static/home/only-gallery-images/kashiyatra/8.jpg'/>
	                       </a>
	                       </li>
	                       <!-- 'only-gallery-images/spardha' Area Start-->
	                       <li data-pile='spardha'>
	                       <a class='image.only-gallery-images/spardha' href='/static/home/only-gallery-images/spardha/full/17.jpg'>
	                       <img src='/static/home/only-gallery-images/spardha/17.jpg'/>
	                       </a>
	                       </li>
	                     
	                       <li data-pile='spardha'>
	                       <a class='image.only-gallery-images/spardha' href='/static/home/only-gallery-images/spardha/full/18.jpg'>
	                       <img src='/static/home/only-gallery-images/spardha/18.jpg'/>
	                       </a>
	                       </li>
	                     
	                       <li data-pile='spardha'>
	                       <a class='image.only-gallery-images/spardha' href='/static/home/only-gallery-images/spardha/full/24.jpg'>
	                       <img src='/static/home/only-gallery-images/spardha/24.jpg'/>
	                       </a>
	                       </li>
	                     
	                       <li data-pile='spardha'>
	                       <a class='image.only-gallery-images/spardha' href='/static/home/only-gallery-images/spardha/full/28.jpg'>
	                       <img src='/static/home/only-gallery-images/spardha/28.jpg'/>
	                       </a>
	                       </li>
	                     
	                       <li data-pile='spardha'>
	                       <a class='image.only-gallery-images/spardha' href='/static/home/only-gallery-images/spardha/full/36.jpg'>
	                       <img src='/static/home/only-gallery-images/spardha/36.jpg'/>
	                       </a>
	                       </li>
	                     
	                       <li data-pile='spardha'>
	                       <a class='image.only-gallery-images/spardha' href='/static/home/only-gallery-images/spardha/full/7.jpg'>
	                       <img src='/static/home/only-gallery-images/spardha/7.jpg'/>
	                       </a>
	                       </li>
	                     
	                       <li data-pile='spardha'>
	                       <a class='image.only-gallery-images/spardha' href='/static/home/only-gallery-images/spardha/full/9.jpg'>
	                       <img src='/static/home/only-gallery-images/spardha/9.jpg'/>
	                       </a>
	                       </li>
	                       <!-- 'only-gallery-images/technex' Area Start-->
	                       <li data-pile='technex'>
	                       <a class='image.only-gallery-images/technex' href='/static/home/only-gallery-images/technex/full/17.jpg'>
	                       <img src='/static/home/only-gallery-images/technex/17.jpg'/>
	                       </a>
	                       </li>
	                     
	                       <li data-pile='technex'>
	                       <a class='image.only-gallery-images/technex' href='/static/home/only-gallery-images/technex/full/21.jpg'>
	                       <img src='/static/home/only-gallery-images/technex/21.jpg'/>
	                       </a>
	                       </li>
	                     
	                       <li data-pile='technex'>
	                       <a class='image.only-gallery-images/technex' href='/static/home/only-gallery-images/technex/full/23.jpg'>
	                       <img src='/static/home/only-gallery-images/technex/23.jpg'/>
	                       </a>
	                       </li>
	                     
	                       <li data-pile='technex'>
	                       <a class='image.only-gallery-images/technex' href='/static/home/only-gallery-images/technex/full/7.jpg'>
	                       <img src='/static/home/only-gallery-images/technex/7.jpg'/>
	                       </a>
	                       </li>
	                       
                </ul>
            </div>
        </div>


        <footer>
    <div class="container alt-in">
        <div id="call-footer-links"></div>

        <div class="col-md-6 footer-left-pane">
            <p class="copyright"> 
                <a href="http://iitbhu.ac.in/various/copyright.shtml">
                    <i class="glyphicon glyphicon-copyright-mark"></i> 2017 All Rights Reserved IIT (BHU) Varanasi</a>&nbsp;| 
                <a href="http://iitbhu.ac.in/various/disclaimer.shtml">Disclaimer</a>
            </p>
            <p class="credit">
                <a href="http://iitbhu.ac.in/wmes_web/index.html">
                    Developed and Maintained by WMES, IIT BHU
                </a> || <a href="/credits/">Credits</a>
            </p>
        </div>
		
		<div class="col-md-6 col-lg-6 footer-right-pane">
		   <img src="/static/home/img/footer-img.png">		
		</div>		
        
<!--        <div class="col-md-6 text-right">
            <img class="img-responsive" src="/static/home/img/footer-img.png" alt="iitbhu-gate">
        </div>-->

    </div>
</footer>


        <!-- JQuery JavaScript -->
        <script src="/static/home/assets/js/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="/static/home/assets/js/bootstrap.min.js" type="text/javascript"></script>
        <!-- Custom JavaScript -->
        <script src="/static/home/assets/js/custom.js" type="text/javascript"></script>        
        <!-- featherlight PLUGIN -->
        <script src="/static/home/assets/js/featherlight.js" type="text/javascript"></script>
        <script src="/static/home/assets/js/featherlight.gallery.js" type="text/javascript"></script>
             
        <!--Staple Pile Gallery Javascript-->
        <script src="/static/home/assets/js/jquery.stapel.js" type="text/javascript"></script>
        <script type="text/javascript">
        $(function () {
                        
        var $grid = $('#tp-grid'),
                        $name = $('#name'),
                        $close = $('#close'),
                        $loader = $('<div class="loader"><i></i><i></i><i></i><i></i><i></i><i></i><span>Loading...</span></div>').insertBefore($grid),
                            stapel = $grid.stapel({
                    delay: 0,
                                onLoad: function () {
                            $loader.remove();
                    },
                                onBeforeOpen: function (pileName) {
                            $name.html(pileName);
                    },
                                onAfterOpen: function (pileName) {
                        $close.show();
                }
                });
                    $close.on('click', function () {
                    $close.hide();
                $name.empty();
            stapel.closePile();
        });

    });
        </script>

        
    </body>

</html>
