<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Siddhant Singh">

        <title>Games & Sports Council - IIT (BHU) Varanasi</title>

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="/static/gnsc/css/bootstrap.min.css" type="text/css">

        <!-- Custom Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> 
        <!-- Plugin CSS -->
        <link rel="stylesheet" href="/static/gnsc/css/animate.min.css" type="text/css">	
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/static/gnsc/css/custom.css" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->


    </head>

    <body id="page-top">

        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="#page-top">Games & Sports Council
                        </br><span class="iit-heading normal-font">Gymkhana - IIT BHU</span>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="page-scroll" href="#clubs">Sports</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#contact">Office Bearers</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <header>
            <div class="header-content"></div>
            <div class="caption">
                <!--<p id="caption-text">
                    The purpose of art is washing the dust of daily life off our souls. _
                    'This world is but a canvas to our imagination.' _
                    'Vision is the art of seeing what is invisible to others.' _
                    'Draw your pleasure, paint your pleasure, and express your pleasure strongly.
                </p>-->
            </div>
        </header>

        <section id="clubs">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section-heading ribbon"><span>Sports</span></h2>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-6 text-center">
                        <div class="service-box hvr-float-shadow">
                            <a href="/gnsc/clubs/animation" target="_blank" class="wow bounceIn" data-wow-delay="0s">
							<img class="club wow bounceIn" data-wow-delay="0s" src="/static/cultural/img/clubs/fac.jpg">
                                <h4>Football</h4></a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 text-center">
                        <div class="service-box hvr-float-shadow">
                            <a href="/gnsc/clubs/" target="_blank" class="wow bounceIn" data-wow-delay="0.1s">
							<img class="club wow bounceIn" data-wow-delay=".1s" src="/static/cultural/img/clubs/imc.jpg">
                                <h4>Volleyball</h4></a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 text-center">
                        <div class="service-box hvr-float-shadow">
                            <a href="/gnsc/clubs/" target="_blank" class="wow bounceIn" data-wow-delay="0.2s">
							<img class="club wow bounceIn" data-wow-delay=".2s" src="/static/cultural/img/clubs/quiz.jpg">
                                <h4>Weight-lifting</h4></a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 text-center">
                        <div class="service-box hvr-float-shadow">
                            <a href="/gnsc/clubs/" target="_blank" class="wow bounceIn" data-wow-delay="0.3s">
							<img class="club wow bounceIn" data-wow-delay=".3s" src="/static/cultural/img/clubs/lit.jpg">
                              <h4>Kho-Kho</h4></a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 text-center">
                        <div class="service-box hvr-float-shadow">
                            <a href="/gnsc/clubs/" target="_blank" class="wow bounceIn" data-wow-delay="0.4s">
							<img class="club wow bounceIn" data-wow-delay="0.4s" src="/static/cultural/img/clubs/masq.jpg">
                                <h4>Basketball</h4></a>
                            <!--                         <p class="text-muted">You have to make your websites with love these days!</p> -->
                        </div>
                    </div>				
				  <div class="col-md-2 col-sm-6 text-center">
                        <div class="service-box hvr-float-shadow">
                            <a href="/gnsc/clubs/" target="_blank" class="wow bounceIn" data-wow-delay="0.5s">
							<img class="club wow bounceIn" data-wow-delay="0s" src="/static/cultural/img/clubs/fac.jpg">
                                <h4>Athletics</h4></a>
                            <!--                         <p class="text-muted">You have to make your websites with love these days!</p> -->
                        </div>
                    </div>			
					
                </div>
            </div>
        </section>

             <section class="bg-primary" id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 text-center">
                            <h2 class="section-heading">About | Games & Sports Council</h2>
                            <hr class="light">
                            <p class="text-faded">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <a href="#" class="btn btn-default btn-xl">Get Started!</a>
                        </div>
                    </div>
                </div>
            </section> 




        <section id="contact" class="bg-contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h2 class="section-heading ribbon long-ribbon"><span>Office Bearers</span></h2>
                    </div>
                    <div class="office-bearer col-md-4  text-center wow fadeInLeft" data-wow-delay="0s">
                        <h4 class="office-bearer-name"> Siddhartha Bhargava</h4>
                        <h4>(General Secretary)</h4>
                        <h4><i class="fa fa-envelope-o"></i> 
                            <a href="mailto:fac.iitbhu@iitbhu.ac.in"> @iitbhu.ac.in</a>
                        </h4>
                    </div>
                    <div class="office-bearer col-md-4  text-center wow fadeInLeft" data-wow-delay=".1s">
                        <h4 class="office-bearer-name"> Aditi Choudhary </h4>
                        <h4>(Jt. General Secretary)</h4>
                        <h4><i class="fa fa-envelope-o"></i> 
                            <a href="mailto:fac.iitbhu@iitbhu.ac.in"> @iitbhu.ac.in</a>
                        </h4>
                    </div>
                    <div class="office-bearer col-md-4  text-center wow fadeInLeft" data-wow-delay=".2s">
                        <h4 class="office-bearer-name">  Shaurya Vats</h4>
                        <h4>(Jt. General Secretary)</h4>
                        <h4><i class="fa fa-envelope-o"></i> 
                            <a href="mailto:fac.iitbhu@iitbhu.ac.in"> @iitbhu.ac.in</a>
                        </h4>
                    </div>				
                </div>
            </div>
        </section>

        <footer>
            <div class="container ">
                <div class="row">

                    <div class="col-sm-8 footer-left-pane">
                        <p class="copyright"> 
                            <a href="http://iitbhu.ac.in/various/copyright.shtml">
                                <i class="fa fa-copyright"></i> Copyright</a>&nbsp;&nbsp;&nbsp;&nbsp; 
                            <a href="http://iitbhu.ac.in/various/disclaimer.shtml">Disclaimer</a>
                        </p>
                        <p class="credit">
                            <a href="http://iitbhu.ac.in/wmes_web/index.html">
                                Developed and Maintained by WMES, IIT BHU
                            </a> |<a href="/credits/"> Credits</a>
                        </p>
                    </div>

                    <div class="col-sm-4 iit-gate-position">
                        <img class="iit-gate" src="/static/gnsc/img/footer-img.png" alt="iitbhu-gate">
                    </div>
                </div>
            </div>
        </footer>

        <!-- jQuery -->
        <script src="/static/gnsc/js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="/static/gnsc/js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="/static/gnsc/js/jquery.easing.min.js"></script>
        <script src="/static/gnsc/js/jquery.fittext.js"></script>
        <script src="/static/gnsc/js/wow.min.js"></script>
        <script src="/static/gnsc/js/morphext.min.js"></script>	
        <script src="/static/gnsc/js/jquery.bgswitcher.js"></script>	

        <!-- Custom Theme JavaScript -->
        <script src="/static/gnsc/js/custom.js"></script>

    </body>

</html>
