<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Siddhant Singh">

        <title>Indian Music Club - IIT (BHU) Varanasi</title>

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="/static/cultural/clubs/imc/css/bootstrap.min.css" type="text/css">

        <!-- Custom Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> 
        <!-- Plugin CSS -->
        <link rel="stylesheet" href="/static/cultural/clubs/imc/css/animate.min.css" type="text/css">	
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/static/cultural/clubs/imc/css/custom-fac.css" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->


    </head>

    <body id="page-top">

        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="#page-top">Indian Music Club
                        </br><span class="iit-heading normal-font">Gymkhana - IIT BHU</span>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="page-scroll" href="#about">About</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#gallery">Gallery</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <header>
            <div class="header-content">
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
            <div class="caption text-center">
                <p id="caption-text">
                    “Music expresses that which cannot be said and on which it is impossible to be silent.” - Victor Hugo _
                    'Draw your pleasure, paint your pleasure, and express your pleasure strongly.
                </p>
            </div>
        </header>

        <section class="bg-primary" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="section-heading inverse-ribbon"><span>About</span></h2>

                        <p class="text-faded">The Indian music club, popularly called IMC, is amongst the most active clubs of the college. We are an extremely diversified club dedicated to the promotion of Hindustani classical/semi classical, Carnatic, Bollywood, light, folk, regional, and many other forms of music. We provide the ideal platform for exchange of musical ideas, appreciation of music and musical development.
Anyone with an ear for good music is invited to be a part of our family. Our club includes not just singers and instrumentalists, but also lyricists, composers, sound mixers, etc.
The IMC room is situated in the beautiful Athletics Ground ( Anuj’s Dream Village), on the first floor of its lone building. We possessa range of instruments and sound systems which can be used to by the members. The club remains open on all weekdays (except Sundays and official holidays) from 5 p.m. to 8 p.m.
</p>
                        <!--                     <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
                    </div>
                </div>
            </div>
        </section>


       
        <section id="gallery">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading ribbon"><span>Gallery</span></h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Will be available soon</h2>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <section id="contact" class="bg-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="section-heading ribbon long-ribbon"><span>Office Bearers</span></h2>
                </div>
                <div class="office-bearer col-md-4  text-center wow fadeInLeft" data-wow-delay="0s">
                    <h4 class="office-bearer-name"> Avinash Kumar</h4>
                    <h4>(Secretary)</h4>
                    <h4><i class="fa fa-envelope-o"></i> 
                        <a href="mailto:avinash.kumar.mec12@iitbhu.ac.in"> avinash.kumar.mec12@iitbhu.ac.in</a>
                    </h4>
                </div>
                <div class="office-bearer col-md-4  text-center wow fadeInLeft" data-wow-delay=".1s">
                    <h4 class="office-bearer-name"> Shriya Chandrakar</h4>
                    <h4>(Joint Secretary)</h4>
                    <h4><i class="fa fa-envelope-o"></i> 
                        <a href="mailto:shriya.chandrakar.eee13@iitbhu.ac.in"> shriya.chandrakar.eee13@iitbhu.ac.in</a>
                    </h4>
                </div>
                <div class="office-bearer col-md-4  text-center wow fadeInLeft" data-wow-delay=".2s">
                    <h4 class="office-bearer-name"> Vaibhav Pandey</h4>
                    <h4>(Joint Secretary)</h4>
                    <h4><i class="fa fa-envelope-o"></i> 
                        <a href="mailto:vaibhav.pandey.che13@iitbhu.ac.in"> vaibhav.pandey.che13@iitbhu.ac.in</a>
                    </h4>
                </div>				
            </div>
        </div>
    </section>

    <footer>
        <div class="container ">
            <div class="row">

                <div class="col-sm-8 footer-left-pane">
                    <p class="copyright"> 
                        <a href="http://iitbhu.ac.in/various/copyright.shtml">
                            <i class="fa fa-copyright"></i> Copyright</a>&nbsp;&nbsp;&nbsp;&nbsp; 
                        <a href="http://iitbhu.ac.in/various/disclaimer.shtml">Disclaimer</a>
                    </p>
                    <p class="credit">
                        <a href="http://iitbhu.ac.in/wmes_web/index.html">
                            Developed and Maintained by WMES, IIT BHU
                        </a> |<a href="http://iitbhu.ac.in/various/credit.html"> Credits</a>
                    </p>
                </div>

                <div class="col-sm-4 iit-gate-position">
                    <img class="iit-gate" src="/static/cultural/clubs/imc/img/footer-img.png" alt="iitbhu-gate">
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/static/cultural/clubs/imc/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/cultural/clubs/imc/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/cultural/clubs/imc/js/jquery.easing.min.js"></script>
    <script src="/static/cultural/clubs/imc/js/jquery.fittext.js"></script>
    <script src="/static/cultural/clubs/imc/js/wow.min.js"></script>
    <script src="/static/cultural/clubs/imc/js/morphext.min.js"></script>	
    <script src="/static/cultural/clubs/imc/js/jquery.bgswitcher.js"></script>	

    <!-- Custom Theme JavaScript -->
    <script src="/static/cultural/clubs/imc/js/custom-fac.js"></script>

</body>

</html>
