
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Siddhant Singh">
        <title>Students' Parliament Portal | IIT (BHU) Varanasi</title>

        <!-- Bootstrap minified CSS -->
        <link href="/static/parliament/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>        
        <!-- News Ticker CSS -->
        <link href="/static/parliament/assets/css/news-ticker.css" rel="stylesheet" type="text/css"/>
        <!--Custom stylesheet-->
        <link href="/static/parliament/assets/css/custom.css" rel="stylesheet" type="text/css"/>  

        <style type="text/css">


        </style>

    </head>

    <body>
        <div class="top-line"></div>

                <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <img src="/static/parliament/img/header.png" alt="" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>        <div class="navbar alt" id="nav1">
    <div class='container alt-in'>
        <div class='navbar-header'>
            <a href='/' class='navbar-brand'>
                <img src="/static/parliament/img/home.png" alt="home-icon" width="38px" height="auto"/>
            </a>
            <a class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </a>
        </div>
        <div class='navbar-collapse collapse' id='navbar'>
            <ul class='nav navbar-nav '>
			    <li><a target='_blank' href='/static/parliament/minutes/Students_Constitution.pdf'>Constitution</a></li>
				<li><a href='/parliament/Committee/'>Committees</a></li>
 <!--                 <li >
                    <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                        Committees<span class='caret'></span>
                    </a>
                     <ul class='dropdown-menu'>
                        <li><a href='councils/gnsc/index.html'>Games & Sports Council</a></li>                        
                        <li><a href='councils/cultural/index.html'>Cultural Council</a></li>
                        <li><a href='councils/fmc/index.html'>Film & Media Council</a></li>              
                        <li><a href='#'>#Science and Tech Council</a></li>
                    </ul> -->
                </li>
                <li><a href='/parliament/Elections/'>Elections</a></li>
                <li><a href='/parliament/Minutes/'>Minutes</a></li>
                <li><a href='/parliament/Feedback/'>Feedback</a></li>
            </ul>
        </div>
    </div>
</div>
        <div class="wrapper bg2">
            <div class="container bg padding-bottom-20">

                <div class="col-md-12 col-lg-12 margin-bottom-20 text-justify font-arya font-size-1point2em"><!--START Left hand side area-->

<div class="committee">				
<h4>Parliamentary Affairs Committee</h4>

The Parliamentary Affairs Committee is responsible for deciding the

agenda of the Parliament meetings. It also server the purpose of  amending and bringing 

up-to-date all rules, procedures, structures, norms, convention, codes-of-conduct, etc. as 

well as study all proposed changes in these rules and procedures and give its opinion on

the same.

<h4>Finance Committee</h4>

The Principal aim of the Finance Committee is to manage the finances of

the Gymkhana. It controls and supervises the expenditures incurred by the

executive wings of the Gymkhana, viz. The Cultural Council, The Science & Technology 

Council, The Games & Sports Council and The Film & Media Council.

<h4>Emergency Committee</h4>

Emergency Committee represents the Parliament in case of any emergency

since the Parliament meeting cannot be called up in short time.

<h4>Festivals Committee</h4>

Festivals Committee is responsible for all matters except financial matters related to 

festivals organized by Gymkhana. All preliminary reports related to festivals are 

submitted to this committee.

<h4>Nominations Committee</h4>

The Nominations Committee is responsible for nominating students for various institute 

bodies.

<h4>Hostel Affairs & General Welfare Committee</h4>

The Hostel Affairs & General Welfare Committee looks after the matters related to 

hostels and general welfare of students.

<h4>Security Committee</h4>

The Security Committee serves as a student representative body to the Institute Proctorial 

Board. It oversees security arrangements in campus at all times and address

students’ concerns and issues regarding crime

<h4>Students’ Placement Committee</h4>

The primary aim of the Students’ Placement Committee is to express

students’ opinion regarding placements and it acts as the students’ central

advisory body for the Training and Placement Cell.

<h4>Web Management Committee</h4>

The Web Management Committee manages websites of Gymkhana, festivals and student 

related activities. It is also  responsible for managing all content of website.

Undergraduate Students’ Academic Affairs Committee

It advices and assists the Parliament on matters related to the undergraduate

academic program.

Postgraduate Students’ Academic Affairs Committee

It advices and assists the Parliament on matters related to postgraduate

academic program.

<h4>Alumni Relations Committee</h4>

Alumni Relations Committee assists the Dean of Resources and Alumni Affairs in

improving student-alumni interaction. It collects information regarding

alumni and serves as a critical link between the Institute and alumni.

<h4>Grievance Redressal and Enquiries Committee</h4>

Grievance Redressal and Enquiries Committee addresses grievances of General Body and 

acts as a source for providing information to the general body.

</div>

                </div><!--END Left hand side area-->



            </div>
        </div>


        <footer>
    <div class="container alt-in">
        <div id="call-footer-links"></div>

        <div class="col-md-6 col-lg-6 footer-left-pane">
            <p class="copyright"> 
                <a href="http://iitbhu.ac.in/various/copyright.shtml">
                    <i class="glyphicon glyphicon-copyright-mark"></i> 2017 All Rights Reserved IIT (BHU) Varanasi</a>&nbsp;| 
                <a href="http://iitbhu.ac.in/various/disclaimer.shtml">Disclaimer</a>
            </p>
            <p class="credit">
                <a href="http://iitbhu.ac.in/wmes_web/index.html">
                    Developed and Maintained by WMES, IIT BHU
                </a> || <a href="/credits/">Credits</a>
            </p>
        </div>
		
		<div class="col-md-6 col-lg-6 footer-right-pane">
		   <img src="/static/parliament/img/footer-img.png">		
		</div>
        
<!--        <div class="col-md-6 text-right">
            <img class="img-responsive" src="img/footer-img.png" alt="iitbhu-gate">
        </div>-->

    </div>
</footer>


        <!-- JQuery JavaScript -->
        <script src="/static/parliament/assets/js/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="/static/parliament/assets/js/bootstrap.min.js" type="text/javascript"></script>
        <!-- Custom JavaScript -->
        <script src="/static/parliament/assets/js/custom.js" type="text/javascript"></script>

        <script src="/static/parliament/assets/js/jquery.newsTicker.min.js" type="text/javascript"></script>
        <script>
            var nt_example1 = $('#parliament-ticker').newsTicker({
                row_height: 70,
                max_rows: 4,
                duration: 3000000,
                prevButton: $('#news-ticker-prev'),
                nextButton: $('#news-ticker-next'),
            });
        </script>


    </body>

</html>
