
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Siddhant Singh">
        <title>Students' Parliament Portal | IIT (BHU) Varanasi</title>

        <!-- Bootstrap minified CSS -->
        <link href="/static/parliament/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>        
        <!-- News Ticker CSS -->
        <link href="/static/parliament/assets/css/news-ticker.css" rel="stylesheet" type="text/css"/>
        <!--Custom stylesheet-->
        <link href="/static/parliament/assets/css/custom.css" rel="stylesheet" type="text/css"/>  

        <style type="text/css">


        </style>

    </head>

    <body>
        <div class="top-line"></div>

                <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <img src="/static/parliament/img/header.png" alt="" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>        <div class="navbar alt" id="nav1">
    <div class='container alt-in'>
        <div class='navbar-header'>
            <a href='/' class='navbar-brand'>
                <img src="/static/parliament/img/home.png" alt="home-icon" width="38px" height="auto"/>
            </a>
            <a class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </a>
        </div>
        <div class='navbar-collapse collapse' id='navbar'>
            <ul class='nav navbar-nav '>
			    <li><a target='_blank' href='/static/parliament/minutes/Students_Constitution.pdf'>Constitution</a></li>
				<li><a href='/parliament/Committee/'>Committees</a></li>
 <!--                 <li >
                    <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                        Committees<span class='caret'></span>
                    </a>
                     <ul class='dropdown-menu'>
                        <li><a href='councils/gnsc/index.html'>Games & Sports Council</a></li>                        
                        <li><a href='councils/cultural/index.html'>Cultural Council</a></li>
                        <li><a href='councils/fmc/index.html'>Film & Media Council</a></li>              
                        <li><a href='#'>#Science and Tech Council</a></li>
                    </ul> -->
                </li>
                <li><a href='/parliament/Elections/'>Elections</a></li>
                <li><a href='/parliament/Minutes/'>Minutes</a></li>
                <li><a href='/parliament/Feedback/'>Feedback</a></li>
            </ul>
        </div>
    </div>
</div>
        <div class="wrapper bg2">
            <div class="container bg padding-bottom-20">
			
			
                <div class="col-md-12 col-lg-12 margin-bottom-20 text-center font-arya">
				
				<h2>Will be Updated Soon</h2>
				
				</br></br></br></br></br></br></br></br></br></br></br>


				</div>
				
				
				
				
				
				
				
				
				
            </div>
        </div>


        <footer>
    <div class="container alt-in">
        <div id="call-footer-links"></div>

        <div class="col-md-6 col-lg-6 footer-left-pane">
            <p class="copyright"> 
                <a href="http://iitbhu.ac.in/various/copyright.shtml">
                    <i class="glyphicon glyphicon-copyright-mark"></i> 2017 All Rights Reserved IIT (BHU) Varanasi</a>&nbsp;| 
                <a href="http://iitbhu.ac.in/various/disclaimer.shtml">Disclaimer</a>
            </p>
            <p class="credit">
                <a href="http://iitbhu.ac.in/wmes_web/index.html">
                    Developed and Maintained by WMES, IIT BHU
                </a> || <a href="/credits/">Credits</a>
            </p>
        </div>
		
		<div class="col-md-6 col-lg-6 footer-right-pane">
		   <img src="/static/parliament/img/footer-img.png">		
		</div>
        
<!--        <div class="col-md-6 text-right">
            <img class="img-responsive" src="img/footer-img.png" alt="iitbhu-gate">
        </div>-->

    </div>
</footer>


        <!-- JQuery JavaScript -->
        <script src="/static/parliament/assets/js/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="/static/parliament/assets/js/bootstrap.min.js" type="text/javascript"></script>
        <!-- Custom JavaScript -->
        <script src="/static/parliament/assets/js/custom.js" type="text/javascript"></script>

        <script src="/static/parliament/assets/js/jquery.newsTicker.min.js" type="text/javascript"></script>
        <script>
            var nt_example1 = $('#parliament-ticker').newsTicker({
                row_height: 70,
                max_rows: 4,
                duration: 3000000,
                prevButton: $('#news-ticker-prev'),
                nextButton: $('#news-ticker-next'),
            });
        </script>


    </body>

</html>
