<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Society of Automotive Engineers, IIT (BHU) Varanasi">

    <title>Society of Automotive Engineers - IIT (BHU) Varanasi</title>
    <link rel="icon" type="image/ico" href="/static/sntc/img/favicon.ico">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/static/sntc/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/static/sntc/css/animate.min.css" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/sntc/clubs/sae/custom.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body id="page-top">

        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="/">Society of Automotive Engineers
                    </br><span class="iit-heading normal-font">SnTC - IIT BHU</span>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#about">About</a></li>
                        <li><a class="page-scroll" href="#vision">Vision</a></li>
                        <li><a class="page-scroll" href="#workshops">Workshops</a></li>
                        <li><a class="page-scroll" href="#highlights">Highlights</a></li>
                        <li class="dropdown" id="clubs">
                        <a data-toggle="dropdown" data-target="#clubs" style="cursor:pointer;">Clubs</a>
                        <ul class="dropdown-menu">
                          <li><a href="/clubs/aero_modelling">Aero-Modelling Club</a></li>
                          <li><a href="/clubs/astronomy">Astronomy Club</a></li>
                          <li><a href="/clubs/cef">Club of Economics and Finance</a></li>
                          <li><a href="/clubs/cops">Club of Programmers</a></li>
                          <li><a href="/clubs/green">Green Club</a></li>
                          <li><a href="/clubs/robotics">Robotics Club</a></li>
                          <li><a href="/clubs/sae">Society of Automotive Engineers</a></li>
                          <li><a href="/clubs/troc">Technical and Rural Outreach Club</a></li>
                        </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <header>
            <div class="header-content">
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </header>

        <section class="bg-primary" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                      <h2 class="section-heading">About | Society of Automotive Engineers
                      <hr class="light"></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9 col-lg-push-1 text-center">
                      <p class="text-faded">Society of Automotive Engineers, IIT (BHU), a collegiate chapter of SAE INDIA was established in the year 2009. Registered to SAE International, it is a platform where students sharing a vehement passion for automobiles sciences involve themselves in various projects. It was established under the patronage of our Late Prof. B.B. Bansal, under the banner of Department of Mechanical Engineering, IIT (BHU). The SAE collegiate Club promotes automotive activities in the institutes and has dedicated teams not only for operating club activities but also for participating in SAE BAJA, SAE EFFICYCLE. As has been corroborated in the previous years, students have been working as a strong team with great efforts not only on amassing knowledge and experience in technical field of design and manufacturing, but also in financial and administrative domains.</p>
                    </div>
                    <div class="col-lg-1 col-lg-push-1 text-center">
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <div class="text-center" id="social-media">
                        <a href="http://www.facebook.com/sae.iitbhu" class="fa fa-facebook"></a>
                        <a href="/app" class="fa fa-android"></a>
                      </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="vision">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section-heading ribbon"><span>Vision</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 text-center">
                      <p>Our vision is to bring together students from all segments of engineering, to a common platform, for the purpose of learning and understanding the basics of automobiles and automobile industry. Our aim is to set up an atmosphere for promotion of technical skills by providing industrial experience. Enhancement of practical knowledge through projects relating to real life examples would be our primary focus.</p><p class="lead">We would be organizing highly interactive sessions with professionals from this fieldby collaborating with various committees and renowned industries. Our goal will be to enhance formal education and professional development. Also, we will be conducting various career enhancement sessions.</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="workshops">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section-heading ribbon"><span>Workshops</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                      <p>
                        <li class="lead">The first workshop was held on 15<small>th</small> August, 2016 on <a href="https://drive.google.com/open?id=0B9d-z1m_nlsMYjFqWWVCQ0xhRDg">Basic Engineering Elements</a>.</p></li>
                        <li class="lead">The second workshop was held on 4<small>th</small> September, 2016 on <a href="https://drive.google.com/open?id=0B9d-z1m_nlsMYUswY1Nyb2NTVWc">Engine and Transmission</a>.</p></li>
                        <li class="lead">The third workshop was held on 20<small>th</small> September, 2016 on <a href="https://drive.google.com/open?id=0B9d-z1m_nlsMd0FwQVZwcHhSOVk">Steering and Suspension</a>.</p></li>
                        <li class="lead">The practical workshop was held on 26<small>th</small> September, 2016 on <a href="https://drive.google.com/open?id=0B9d-z1m_nlsMT0hjTVhNTURwOHM">IC RC Car</a>.</p></li>
                      </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="no-padding" id="highlights">

            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading ribbon long-ribbon"><span>Highlights</span></h2>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row no-gutter">
                    <div class="col-lg-4 col-sm-6">
                        <a href="#highlights" class="portfolio-box wow fadeIn" data-wow-delay="0s">
                            <img src="/static/sntc/clubs/sae/img/header2.jpg" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Project
                                    </div>
                                    <div class="project-name">
                                        Adsorbtion Cooling System
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a href="#highlights" class="portfolio-box wow fadeIn" data-wow-delay="0s">
                          <img src="/static/sntc/clubs/sae/img/header4.jpg" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Project
                                    </div>
                                    <div class="project-name">
                                        Effi-cycle
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a href="#highlights" class="portfolio-box wow fadeIn" data-wow-delay="0s">
                            <img src="/static/sntc/clubs/sae/img/header6.jpg" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Activity
                                    </div>
                                    <div class="project-name">
                                        IC-RC Car
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

    <section id="contact" class="bg-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="section-heading ribbon long-ribbon"><span>Office Bearers</span></h2>
                </div>
                <div class="office-bearer col-md-4  text-center wow fadeInLeft" data-wow-delay="0s">
                  <!--img class="img-circle" src="/static/sntc/img/pors/Pranav.png" height="auto"-->
                    <h4 class="office-bearer-name">Pranav Gupta</h4>
                    <h4>(Secretary)</h4>
                    <h4><i class="fa fa-phone"></i>+91-7318192069</h4>
                    <h4><i class="fa fa-envelope-o"></i>
                        <a href="mailto:pranav.gupta.mec15@iitbhu.ac.in">pranav.gupta.mec15@iitbhu.ac.in</a>
                    </h4>
                </div>
                <div class="office-bearer col-md-4  text-center wow fadeInLeft" data-wow-delay=".1s">
                  <!--img class="img-circle" src="/static/sntc/img/pors/Sachin.png" height="auto"-->
                    <h4 class="office-bearer-name">Sachin Bansal</h4>
                    <h4>(Joint Secretary)</h4>
                    <h4><i class="fa fa-phone"></i>+91-7589268094</h4>
                    <h4><i class="fa fa-envelope-o"></i>
                        <a href="mailto:sachin.bansal.mec15@iitbhu.ac.in">sachin.bansal.mec15@iitbhu.ac.in</a>
                    </h4>
                </div>
                <div class="office-bearer col-md-4  text-center wow fadeInLeft" data-wow-delay=".2s">
                  <!--img class="img-circle" src="/static/sntc/img/pors/Paras.png" height="auto"-->
                    <h4 class="office-bearer-name">Paras Trivedi</h4>
                    <h4>(Joint Secretary)</h4>
                    <h4><i class="fa fa-phone"></i>+91-9984550782</h4>
                    <h4><i class="fa fa-envelope-o"></i>
                        <a href="mailto:paras.trivedi.mec15@iitbhu.ac.in">paras.trivedi.mec15@iitbhu.ac.in</a>
                    </h4>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container ">
            <div class="row">
                <!--div class="col-sm-8 footer-left-pane">
                    <p class="copyright">
                        <a href="http://iitbhu.ac.in/various/copyright.shtml">
                            <i class="fa fa-copyright"></i> Copyright</a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="http://iitbhu.ac.in/various/disclaimer.shtml">Disclaimer</a>
                    </p>
                    <p class="credit">
                        <a href="http://iitbhu.ac.in/wmes_web/index.html">
                            Developed and Maintained by WMES, IIT BHU
                        </a> |<a href="/credits/"> Credits</a>
                    </p>
                </div-->
                <div class="col-sm-4 iit-gate-position">
                    <img class="iit-gate" src="/static/sntc/img/footer-img.png" alt="iitbhu-gate">
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/static/sntc/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/sntc/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="/static/sntc/js/jquery.easing.min.js"></script>
    <script src="/static/sntc/js/jquery.fittext.js"></script>
    <script src="/static/sntc/js/wow.min.js"></script>
    <script src="/static/sntc/js/morphext.min.js"></script>
    <script src="/static/sntc/js/jquery.bgswitcher.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/static/sntc/clubs/sae/custom.js"></script>

  </body>

</html>
